@font-face {
	font-family: 'Roboto';
	font-display: swap;
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/Roboto.woff2) format('woff2');
}
@font-face {
	font-family: 'Roboto';
	font-display: swap;
	font-weight: 500 600;
	font-style: normal;
	src: url(../fonts/Roboto-Medium.woff2) format('woff2');
}
@font-face {
	font-family: 'Roboto';
	font-display: swap;
	font-weight: 700;
	font-style: normal;
	src: url(../fonts/Roboto-Bold.woff2) format('woff2');
}

:root {
	height: 100%;
	font-size: 62.5%;
	font-family: 'Roboto', -apple-system, Arial, Helvetica, sans-serif;
	background-color: var(--site-bg);
	--text-primary: #fff;
	--text-secondary: #e4e4e4;
	--text-tertiary: #ccc;
	--text-invert: #1b1b1b;
	--site-bg: hsl(210, 50%, 14%);
	--bg-primary: hsl(210, 45%, 18%);
	--bg-secondary: hsl(210, 50%, 21%);
	--bg-tertiary: hsl(210, 55%, 25%);
	--border-primary: hsl(210, 60%, 45%);
	--border-secondary: hsl(210, 57%, 30%);
	--focus-ring: hsl(210, 70%, 60%);
  --focus-shadow: 0 0 0 .2rem hsl(210, 100%, 67%, .2);
	color-scheme: dark;
	scroll-padding-top: 13.6rem;
	scroll-padding-right: 0.4rem;
}
body {
	min-height: 100%;
	margin: 0;
	padding: 4.6rem 0 0;
	font-size: 1.6rem;
	color: var(--text-primary);
	line-height: 1.5;
	overflow-y: scroll;
}

.bg-pattern {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: -1;
}

.bg-pattern > div {
	position: absolute;
	right: 0;
	bottom: 0;
	width: calc(80vmax + 300px + 100%);
	height: calc((80vmax + 300px) / 4.75 + 100%);
	background: 0 0/calc(80vmax + 300px) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="6080" height="1280"><g id="b"><path d="m1810-151c-109-10-322-54-419-86-226-73-445-230-563-401-76-110-136-276-159-441-17-123-7-381 21-506 64-292 106-393 204-491 70-70 153-116 245-135 55-11 242-7 287 6 15 5 23 2 26-12 28-95 101-320 107-326 7-7 246 34 256 45 3 2-6 58-19 124-16 78-21 121-14 125 21 13 159 32 167 23 5-5 18-58 30-119 12-60 24-111 27-114 5-6 144 15 152 23 5 6-11 121-24 172-5 19 2 22 82 38 64 13 89 15 94 6 4-6 13-44 20-83 7-40 16-77 21-83 7-8 66 0 212 30 189 38 202 42 200 62-1 12-12 82-23 155-12 74-24 150-27 170l-5 36 73 26c41 15 97 44 124 65 134 101 203 308 176 527-7 50-14 113-17 140-10 92-65 297-104 387-203 471-598 690-1150 637zm-439-1872a363 351 180 1 1 0 702 363 351 180 1 1 0-702m990 194a478 467.5 180 1 1 0 935 478 467.5 180 1 1 0-935m-245-39c46-37 58-94 23-112-43-24-119 34-119 90 0 15 3 30 7 33 13 13 68 6 89-11zm-196-51c16-30 12-56-11-77-26-24-53-9-57 33-5 52 46 84 68 44zm2964-451 283-75 143 248 185-212 265 130 35-300 287-70-152-251 200-230-264-118 13-310-270 75-150-250-190 208-270-125-24 295-288 72 150 260-200 222 274 122zm516-180a423 423 180 1 1 0-846 395 423 180 1 1 0 846zm0-34a389 389 180 1 1 0-778 361 389 180 1 1 0 778zm-705-1847c-242-35-466-204-569-430-67-146-84-355-41-514 57-215 207-398 393-480 61-27 63-28 77-9 23 30 14 67-20 84-168 84-248 170-289 309-22 74-20 139 5 214 35 107 90 174 284 351 99 90 233 217 298 281s120 115 121 113c2-1 18-52 35-112 33-112 94-270 175-459 75-174 97-238 103-302 15-161-91-342-246-418-60-29-75-32-170-34-57-1-109-4-115-6-7-3-10-21-8-46 4-40 5-41 41-42 171-3 259 14 375 73 141 71 235 157 320 290 127 200 140 478 32 703-55 115-121 202-205 269-176 141-377 197-596 165zm-3330-232c-45-18-71-35-63-42 11-11 80-9 128 4 27 8 67 10 100 6 48-6 53-5 40 8-36 35-144 48-205 24zm3520-40c-29-82-117-425-158-617-16-75-27-106-38-108-9-2-33 21-60 56-153 202-183 241-187 238-13-13 30-101 104-216 130-201 128-192 88-387-20-98-24-131-15-150 26-57 62 15 107 213 23 105 41 129 130 169 42 19 104 55 138 79 64 46 136 113 136 128 0 4-77-30-171-78-94-47-174-83-177-80-6 7 6 73 42 231 23 97 54 259 71 365 3 19 10 59 15 89 6 30 10 58 10 62 0 13-31 19-35 6zm-3765-6c-43-9-108-42-147-75-24-20-52-29-132-41-147-22-233-70-293-164-41-65-38-73 21-65 56 7 79-10 34-26-97-36-161-71-207-117-58-57-83-105-102-192-12-57-12-76 1-136 19-96 38-138 81-180 39-40 39-55-1-37-54 25-58 19-52-64 9-118 69-204 184-263 57-28 67-27 49 7-35 67-45 208-22 305 12 49 12 65 0 104-8 25-14 77-14 114 0 65-1 69-25 75-40 10-75 59-75 105 0 75 50 130 117 128l28-1-30-13c-47-20-70-52-70-95 0-42 27-80 56-80 10 0 29 21 48 54 17 30 39 63 49 73 11 11 24 46 31 87 6 38 20 85 31 106 35 68 125 133 215 154 24 6 36 19 58 67 22 45 41 68 84 98 30 22 70 45 89 51 19 7 34 16 34 21s-1 8-2 8c-2-1-19-4-38-8zm310-57c1-5 7-20 15-34 20-35 19-129-2-160-9-14-38-48-65-77-67-72-64-131 8-149 47-12 98 18 147 86l18 25-6-34c-6-42-46-96-85-116-56-29-145-11-170 34-13 26-13 87 2 114 6 12 35 48 65 80 49 54 53 62 53 109 0 44-4 54-34 84-32 32-38 34-105 34-123 0-224-63-272-170-20-45-24-48-78-60-78-17-123-42-165-92-38-44-62-106-47-121 5-5 23-1 42 8 18 10 64 20 103 24l71 6 27 57c38 80 84 122 162 148 87 28 106 15 30-20-32-15-72-40-88-55-43-42-84-145-58-145 5 0 16-6 26-13 15-11 1-13-91-13-95 0-114-3-163-25-151-71-227-243-175-400 23-69 57-104 121-128 177-67 371 35 347 182-17 109-148 134-167 32-8-39-21-46-29-14-9 33 15 92 43 107 37 19 115 10 145-18 55-51 60-176 12-249l-27-41 35-46c19-25 36-58 36-72 5-93-22-160-80-199-80-54-191-9-191 78 0 23 18 61 34 71 18 12 31 9 18-4-7-7-12-29-12-50 0-44 19-58 80-58 34 0 48 6 76 34 27 27 34 42 34 75 0 54-14 82-56 109-33 22-35 22-67 5-25-14-56-18-137-18-101 0-107 1-157 32l-52 32-7-36c-4-19-4-71-1-114 8-118 55-207 142-266 36-25 140-58 212-68 146-19 345 88 414 223 22 43 24 59 24 184 0 75 3 134 8 131 20-12 40-86 44-167l6-88 62 6c180 18 274 92 341 265 54 143 69 151 47 28-17-101-54-176-116-233-63-60-54-69 66-69 79 0 98 3 134 24 50 29 87 78 109 146 26 83 26 82 35 50 6-19 5-48-2-78-6-26-9-50-7-53 3-2 23 9 45 25 44 32 83 113 83 171 0 27-3 30-30 30-17 0-47 7-67 15s-37 14-38 13c-1-2-16-28-33-58-42-76-114-140-156-140-15 0-6 13 37 51 56 50 97 113 111 173 6 23 11 27 29 21 72-22 99-27 120-21 44 11 76 45 94 102 15 47 15 59 3 92-18 50-55 97-97 123-33 21-34 23-28 68 9 71-25 171-73 210-20 17-39 31-42 31s-11-30-17-67c-6-38-14-77-17-88-5-15 2-25 31-43 51-32 75-66 81-118 5-51-2-87-24-108-24-24-35-19-24 10 31 80-4 159-85 189-25 10-45 21-45 25s7 27 15 50c22 63 19 164-5 216-41 84-113 132-222 150-45 8-48-3-17-47 35-49 46-143 26-222-22-86-22-149 1-176 9-12 51-39 92-59 100-49 139-110 114-176-11-28-24-17-24 19 0 50-45 97-119 124-32 11-70 30-84 41-33 26-48 90-36 155 5 28 12 84 15 125 5 65 2 81-18 120-35 68-97 102-198 108-44 2-80 1-80-4zm-262-508c26-13 60-38 76-55 32-34 57-39 76-16 19 22 116 55 165 55 57 0 141-38 181-81 66-72 87-212 41-280-42-63-127-86-202-55-39 16-55 42-55 86 0 48 25 87 65 100 38 13 74 8 40-5-66-26-86-95-40-140 27-28 60-31 110-11 42 18 65 61 66 125 2 61-24 114-75 155-31 26-48 31-105 34-76 5-131-14-188-62-48-40-84-121-84-189-1-63-22-80-33-26-10 52-7 81 19 153l24 70-20 32c-11 18-42 53-70 78-69 62-67 71 9 32zm-622-835c-17-6-16-9 9-39 28-33 83-68 92-58 4 4-77 109-81 105-1 0-9-4-20-8z" transform="scale(.1-.1)" fill-rule="evenodd" fill="%23ffffff05" id="a"/><use href="%23a" x="640" y="64"/><use href="%23a" x="1280" y="128"/><use href="%23a" x="1920" y="192"/><use href="%23a" x="2560" y="256"/></g><use href="%23b" x="3200" y="320"/><use href="%23b" x="-320" y="608"/><use href="%23b" x="2880" y="928"/><use href="%23b" x="320" y="-608"/><use href="%23b" x="3520" y="-288"/></svg>');
	animation: bg-slide 600s linear infinite forwards;
}
@keyframes bg-slide {
	from {
		transform: translate(0, 0);
	}
	to {
		transform: translate(calc(80vmax + 300px), calc((80vmax + 300px) / 4.75));
	}
}

*, ::before, ::after {
	box-sizing: border-box;
}

button {
	border: none;
	background: 0 0;
	color: currentColor;
	font: inherit;
	text-align: inherit;
	display: inline-block;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

img, picture {
	display: block;
}

ul, ol {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.select {
	display: inline-grid;
	grid-template-areas: "select";
	align-items: center;
	border-radius: 0.25em;
	position: relative;
}

.select > :first-child {
	-webkit-appearance: none;
	appearance: none;
	padding: 0.25em 1.4em 0.25em 0.5em;
	border: 0.1rem solid var(--border-primary);
	border-radius: 0.25em;
	margin: 0;
	width: 100%;
	font: inherit;
	color: inherit;
	cursor: default;
	outline: 0;
	grid-area: select;
	background-color: var(--bg-primary);
	line-height: 1.2;
}

.select::before {
	content: "";
	width: 0.7em;
	height: 0.4em;
	margin-right: 0.5em;
	background-color: var(--border-primary);
	clip-path: polygon(100% 0%, 0 0%, 50% 100%);
	grid-area: select;
	justify-self: end;
	pointer-events: none;
}

.btn {
	background-color: var(--bg-primary);
	border-radius: .3em;
	padding: .2em .4em;
	cursor: pointer;
	line-height: 1.15;
	border: .1rem solid var(--border-primary);
	text-align: center;
}

.btn > *,
a > * {
	pointer-events: none;
}

a.btn {
	padding: .1em .3em;
	user-select: none;
}

:focus-visible {
	outline: 0.1rem solid var(--focus-ring);
	outline-offset: -0.1rem;
	box-shadow: var(--focus-shadow);
}

[type=number] {
	padding: 0.15em 0.4rem;
	font-size: 1.4rem;
	border: 0.1rem solid var(--border-primary);
	border-radius: 0.3em;
	background-color: var(--site-bg);
}

#dist {
	width: 7rem;
}

[type=checkbox] {
	-webkit-appearance: none;
	appearance: none;
	height: 2rem;
	margin: 0;
	width: 3.8rem;
	border-radius: 9em;
	background-color: var(--site-bg);
	position: relative;
	border: 0.2rem solid hsl(210, 55%, 35%);
}

[type=checkbox]::after {
	content: '';
	position: absolute;
	height: 1.6rem;
	width: 1.6rem;
	background-color: #eee;
	border-radius: 9em;
	transition: transform 50ms ease-in-out;
}

[type=checkbox]:checked::after {
	transform: translate(1.8rem);
}

[type=checkbox]:checked {
	background-color: hsl(210, 55%, 35%);
}

[type=number] {
	-moz-appearance: textfield;
	appearance: textfield;
}

[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: hsl(210, 18%, 16%);
	padding: 0 max(.5em, 50% - 74.2rem);
	height: 4.6rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 99;
	border-bottom: .1rem solid var(--border-secondary);
}

nav > ul {
	display: flex;
}

.dropdown-list {
	display: flex;
}


.nav-link {
	padding: 0.15em 0.5em;
	border-radius: 0.3rem;
	display: inline-block;
	width: 100%;
}

.nav-link > * {
	pointer-events: none;
}

.menu-toggle {
	display: none;
}

.menu-toggle::after {
	content: '';
	display: inline-block;
	height: 1em;
	width: 0.6em;
	background-color: currentColor;
	margin-left: 0.3rem;
	clip-path: polygon(14.12% 32.36%, 0% 42.21%, 50% 68%, 100% 42.21%, 85.88% 32.36%, 50% 50.86%);
}

.dropdown-text {
	display: none;
}

@media (hover: hover) {
	.btn:hover:not(:active) {
		filter: brightness(1.2);
	}
	.nav-link:hover {
		background-color: #444;
	}
}


nav img {
	width: 2.4rem;
	height: 2.4rem;
}

nav + div {
	margin: auto;
}

.settings {
	position: relative;
	display: flex;
	margin-right: .5em;
}

.settings ul {
	position: absolute;
	right: 0;
	top: 3.5rem;
	padding: .6em;
	background-color: var(--bg-primary);
	display: none;
	gap: .2em;
	border: .1rem solid var(--border-primary);
	border-radius: .3em;
}

.open ul {
	display: grid;
}

.input-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: .4em;
	white-space: nowrap;
}

@media (max-width: 30em) {
	.menu-toggle {
		display: inline-flex;
		align-items: center;
	}
	.nav-dropdown {
		position: relative;
	}
	.dropdown-list {
		position: absolute;
		display: none;
		flex-direction: column;
		align-items: stretch;
		padding: 0.3rem;
		background-color: var(--bg-primary);
		border: 0.1rem solid var(--border-primary);
		top: 3.1rem;
		border-radius: 0.25em;
	}
	.nav-dropdown:hover .dropdown-list,
	.nav-dropdown:focus-within .dropdown-list {
		display: flex;
	}
	.dropdown-list::before {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 0.5rem;
		top: -0.5rem;
	}
	.dropdown-text + span {
		display: none;
	}
	.dropdown-text {
		display: inline-block;
	}
	@media (hover: none) {
		.dropdown-list:hover:not(:active) {
			display: none;
		}
		.dropdown-list::before {
			content: none;
		}
	}
	@media (hover: hover) {
		.dropdown-list .nav-link:hover {
			background-color: hsl(210, 52%, 23%);
		}
	}
}
